<ion-header>
    <ion-navbar>
        <ion-title>
            Ionic SMS
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <form [formGroup]="user">
        <ion-list no-lines>

            <!-- <div class="loginDiv"> -->
            <ion-item class="item">
                <ion-input ngModel [(ngModel)]="phoneNumber" formControlName="phoneNumber" type="number" placeholder="Please Enter your phone number"></ion-input>
            </ion-item>
            <!-- </div> -->
            <!-- <div class="loginDiv"> -->
            <ion-item>
                <ion-input ngModel [(ngModel)]="smsTxt" formControlName="smsTxt" type="text" placeholder="Enter message"></ion-input>
            </ion-item>
            <!-- </div> -->

            <div class="btn">
                <!-- <button class="btnnn" [disabled]="user.invalid" (click)="sendSMS()">lOGIN</button> -->
                <!-- <button ion-button [disabled]="user.invalid" (click)="sendSMS()">Send SMS</button> -->

                <button ion-button [disabled]="user.invalid" (click)="updatePhoneNumber()">Send SMS</button>
            </div>

        </ion-list>
    </form>

    <!-- <h1>Order Status:
        <span class="tag is-large" [ngClass]="{
                        'is-dark'    : pizza.status == 'submitted' ,
                        'is-warning' : pizza.status == 'cooking',
                        'is-primary' : pizza.status == 'on its way',
                        'is-success' : pizza.status == 'delivered'
                        }">
          
          {{ pizza.status }}
        </span>
    </h1>

    <ul>
        <li>Order Number: {{ pizza.$key }}</li>
        <li>Topping: {{ pizza.topping }}</li>
        <li>Price: {{ pizza.price }}</li>
    </ul>

    <hr>
    <h1>Get Updates via Text Message</h1> -->

    <!-- <form [formGroup]="numberForm" (ngSubmit)="updatePhoneNumber()" novalidate>
        <input type="text" formControlName="country" placeholder="1">
        <input type="text" formControlName="area" placeholder="916">
        <input type="text" formControlName="prefix" placeholder="555">
        <input type="text" formControlName="line" placeholder="5555">

        <input type="submit" value="Get SMS Updates">
    </form> -->

    <p *ngIf="user.invalid && user.touched">That's not a valid phone number or message</p>


    <!-- <h3> Updates will be texed to {{ pizza.phoneNumber || 'none' }}</h3> -->

</ion-content>