page-home {
    .loginDiv {
        margin-left: 20px;
        margin-right: 30px;
        justify-content: center;
        margin-bottom: 15px;
        border: 1.4px solid #a7a7a7;
        height: 40px;
        margin-top: 0%;
        border-radius: 10px;
        text-align: center;
        font-weight: 490;
        color: #2e343e;
    }
    .btn {
        text-align: center;
        margin-bottom: 3%;
        margin-top: 0%;
        color: white;
    }
    .btnnn {
        //background-image:url('img/myImage.jpg');
        background-size: "cover";
        margin-left: 0%;
        margin-right: 0%;
        background-color: rgb(15, 13, 13);
    }
}